@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Changa+One');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
    font-family: Lobster;
    margin: 0;
    padding: 0;
    border: 0;
    background: #000;
}
li{
    display: block;
}

.ilustrate1{
    width: 32%;
    display: inline-block;
}
.ilustrate2{
    width: 90%;
    display: block;
    margin: auto;
}
.ilustrate3{
    width: 40%;
    display: block;
    margin: auto;
}

#note{
    height: 300px;
    width: 300px;
    margin: auto;
    display: block;
}
#article_note{
    padding-left: 20px;
    padding-right: 20px;
}
.sploiler{
    font-size: 1.25rem;
}

article{
    margin-top: 50px;
    padding-bottom: 30px;
    padding-top: 1px;
}

blockquote{
    font-size: 1.5rem;
    color: #222;
}

.article1{
    padding-left: 10px;
    padding-right: 10px;
    background: #888;
}

.article2{
    padding-left: 10px;
    padding-right: 10px;
    background: #333;
}

h1, h2{
    text-align: center;
    margin-bottom: 5px;
}

.head_menu, ul{
    padding: 0;
    margin: 0;
    border: 0;
}

a{
    margin-bottom: 0px;
    margin-top: 0px;
    color: black;
    text-decoration: none;
}

#hide{
    background: hsl(354, 79%, 25%);
    height: 33px;
    width: 100px;
    position: fixed;
    left: 10px;
    top: 0px;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Changa One';
    font-weight: bolder;
    border: 0;
}
#hide:hover{
    background: hsl(354, 79%, 22%);
}

#OldEnglishL{
    margin: auto;
    display: block;
}

header{
    transition: 1s;
    position: fixed;
    top: -300px;
    left: 10px;
    height: 300px;
    width: 100px;
}

.vis{
    -webkit-transform: translate(0px, 333px);
    -ms-transform: translate(0px, 333px);
    -o-transform: translate(0px, 333px);
    transform: translate(0px, 333px);
}

.menu{
    color: black;
    text-decoration: none;
    background: hsl(354, 79%, 25%);
    height: 33px;
    width: 100px;
    font-size: 1.2rem;
    text-align: center;
    font-family: 'Changa One';
    font-weight: bolder;
}

.menu:hover{
    background: hsl(354, 79%, 22%);
}

.gallery{
    display: inline-block;
    width: calc(90vw - 30px);
    height: calc(60vw - 20px);
    margin: 10px 15px 0px 15px;
}

main{
    width: 90vw;
    margin: auto;
    margin-top: 30px;
    background: rgba(100,100,100, 0.8);
}

.note_logo{
    width: 100%;
}

p{
    padding-left:10px;
    padding-right: 10px;
}
.nav_characters{
    padding: 10px 5% 0 5%;
}

.img_characters{
    display: inline-block;
    border-radius: 50%;
    height: 32%;
    width: 32%;
}
.img_character{
    width: 100%;
}

@media (min-width: 500px) {
    #hd{
        transition: 0s;
    }
    
    #hide{
        transition: 0s;
        width: 25px;
        height: 25px;
        position: absolute;
        left: -300px;
    }
    
    .vis{
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    
    header{
        transition: 0s;
        position:static;
        background: hsl(354, 79%, 20%);
        width: 100vw;
        height: 35px;
    }
    
    .navigation{
        display: inline-block;
    }
    
     .head_menu{
        width: 500px;
        margin: auto;
    }
    
    .gallery{
        width: 330px;
        height: 220px;
        margin: 10px 15px 0px 15px;
    }
    
    .menu{
        height: 23px;
        width: 70px;
        padding: 5px 5px 5px 5px;
        font-size: 0.9rem;
    }
    
    p{
        padding-left: 0;
        padding-right: 0;
        font-size: 1.25rem;
    }
    
    main{
        width: 360px;
        padding: 10px;
    }
    .nav_characters{
        padding: 10px;
    }
    
    .img_characters{
        height: 110px;
        width: 110px;
    }
}




@media (min-width: 740px) {
    .head_menu{
        width: 740px;
    }
    
    .menu{
        height: 23px;
        width: 100px;
        padding: 5px 10px 5px 10px;
        font-size: 1.2rem;
    }
    
    .gallery{
        width: 300px;
        height: 200px;
        margin: 10px;
    }
    
    p{
        font-size: 1.25rem;
    }
    
    main{
        width: 644px;
        margin-top: 40px;
        padding: 10px;
    }
    
    .img_characters{
        height: 101px;
        width: 101px;
    }
}




@media (min-width: 1160px) {
    .head_menu{
        width: 1160px;
    }
    
    .menu{
        height: 23px;
        width: 150px;
        padding: 5px 20px 5px 20px;
        font-size: 1.5rem;
    }
    
    .gallery{
        width: 380px;
        height: 230px;
    }
    
    p{
        font-size: 1.4rem;
    }
    
    main{
        width: 804px;
    }
    .img_characters{
        height: 127px;
        width: 127px;
    }
}