@import url('https://fonts.googleapis.com/css?family=Lobster');

body{
    font-family: Lobster;
    margin: 0;
    padding: 0;
    border: 0;
    background: #000;
}

nav, ul{
    padding: 0;
    margin: 0;
    border: 0;
}

a{
    color: black;
    text-decoration: none;
}

#hide{
    background: hsla(354, 79%, 10%, 0.8);
    height: 25px;
    width: 25px;
    position: fixed;
    left: 10px;
    top: 5px;
    border-radius: 50%;
    border: solid 1px #333;
}

header{
    position: fixed;
    left: -100px;
    height: 300px;
    width: 100px;
}

.kostil{
    transition: 1s;
}

.vis{
    -webkit-transform: translate(100px, 0);
    -ms-transform: translate(100px, 0);
    -o-transform: translate(100px, 0);
    transform: translate(100px, 0);
}

.menu{
    color: black;
    text-decoration: none;
    background: hsl(354, 79%, 25%);
    height: 33px;
    width: 100px;
    font-size: 1.2rem;
    text-align: center;
    font-family: fantasy;
}

.menu:hover{
    background: hsl(354, 79%, 22%);
}

.gallery{
    display: inline-block;
    width: calc(90vw - 30px);
    height: calc(60vw - 20px);
    margin: 10px 15px 0px 15px;
}

main{
    width: 90vw;
    margin: auto;
    margin-top: 30px;
    background: rgba(100,100,100, 0.8);
}

.note_logo{
    width: 100%;
}

p{
    padding-left:10px;
    padding-right: 10px;
}



@media (min-width: 500px) {
    #hd{
        transition: 0s;
    }
    
    #hide{
        transition: 0s;
        width: 25px;
        height: 25px;
        position: absolute;
        left: -300px;
    }
    
    .vis{
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    
    header{
        position:static;
        background: hsl(354, 79%, 20%);
        width: 100vw;
        height: 35px;
    }
    
    .navigation{
        display: inline-block;
    }
    
    nav{
        width: 500px;
        margin: auto;
    }
    
    .gallery{
        width: 330px;
        height: 220px;
        margin: 10px 15px 0px 15px;
    }
    
    .menu{
        height: 23px;
        width: 70px;
        padding: 5px 5px 5px 5px;
        font-size: 0.9rem;
    }
    
    p{
        padding-left: 0;
        padding-right: 0;
        font-size: 1.25rem;
    }
    
    main{
        width: 360px;
        padding: 10px;
    }
}




@media (min-width: 740px) {
    nav{
        width: 740px;
    }
    
    .menu{
        height: 23px;
        width: 100px;
        padding: 5px 10px 5px 10px;
        font-size: 1.2rem;
    }
    
    .gallery{
        width: 300px;
        height: 200px;
        margin: 10px;
    }
    
    p{
        font-size: 1.25rem;
    }
    
    main{
        width: 644px;
        margin-top: 40px;
        padding: 10px;
    }
}




@media (min-width: 1160px) {
    nav{
        width: 1160px;
    }
    
    .menu{
        height: 23px;
        width: 150px;
        padding: 5px 20px 5px 20px;
        font-size: 1.5rem;
    }
    
    .gallery{
        width: 380px;
        height: 230px;
    }
    
    p{
        font-size: 1.4rem;
    }
    
    main{
        width: 804px;
    }
    
}